{% extends 'base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}
{#{% form_theme form 'bootstrap_4_layout.html.twig' %}#}

{% block body %}

<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello ! ✅</h1>

<div class="container">

<div class="row">

<div class="col-md-8">

<div class="people-nearby">

{% for client in clients %}

<div class="nearby-user">

<div class="row">

<div class="col-md-2 col-sm-2">
{% if client.sexe == "M" %}
<img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="user" class="profile-photo-lg">
{% endif %}
{% if client.sexe == "F" %}
<img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="user" class="profile-photo-lg">
{% endif %}

</div>

<div class="col-md-7 col-sm-7">

<h5><a href="#" class="profile-link">{{ client.nom }}</a></h5>

<p>{{ client.prenom }}</p>
<p>{{ client.sexe }}</p>

</div>

<div class="col-md-3 col-sm-3">

<a href="{{ path('client_show', {'id': client.id}) }}"> <button class="btn btn-primary pull-right">Show</button></a><br><br>
<a href="{{ path('client_edit', {'id': client.id}) }}"> <button class="btn btn-primary pull-right">Edit</button></a>

</div>

</div>

</div>

{% endfor %}

</div>

</div>

</div>


<a href="{{ path('client_new')}}"> <button class="btn btn-primary pull-left">New</button></a>

</div>

    {#<div>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        <div>
        {{ form_label(form.nom, "Nom de Client") }}
        {{ form_errors(form.nom) }}
        <div>
        {{ form_widget(form.nom) }}
        </div>
        </div>
        <div>
        {{ form_label(form.prenom, "Prenom de Client") }}
        {{ form_errors(form.prenom) }}
        <div>
        {{ form_widget(form.prenom) }}
        </div>
        </div>
        <div>
        {{ form_rest(form) }}
        </div>
        {{ form_end(form) }}
    </div>#}



    
</div>
{% endblock %}
