<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
            {#<link rel="stylesheet" href="{{asset('assets/Main.css')}}">#}
            
            <link href="{{asset('assets/css/bootstrap.min.css')}}" rel="stylesheet">
            <link href="{{asset('assets/css/carousel.css')}}"  rel="stylesheet">
            <link href="{{ asset('/assets/css/style-client.css')}}" rel="stylesheet">
            <style>
                .bd-placeholder-img {
                    font-size: 1.125rem;
                    text-anchor: middle;
                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                }

                @media (min-width: 768px) {
                    .bd-placeholder-img-lg {
                        font-size: 3.5rem;
                    }
                }
            </style>
            <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
            
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
            {#<script type="javascript" src="{{asset('assets/main.js')}}"></script>#}
            <script  src="{{asset('assets/js/bootstrap.bundle.js')}}"></script>
            
        {% endblock %}
        
    </head>
    <body>
    {% include "layout/tp3/header.html.twig" %}
        {% block body %}
        
        

        {% endblock %}
    {% include "layout/tp3/footer.html.twig" %}
    </body>
</html>
